language = "csharp"
run = "mcs -out:main.exe 'Projeto/Entidades/main.cs' 'Projeto/Entidades/instituto.cs' 'Projeto/Entidades/campus.cs' 'Projeto/Entidades/curso.cs' 'Projeto/Entidades/diretoria.cs' 'Projeto/Entidades/aluno.cs' 'Projeto/Entidades/professor.cs' 'Projeto/Entidades/ambiente.cs' 'Projeto/Negocios/ninstituto.cs' 'Projeto/Negocios/ncampus.cs' 'Projeto/Negocios/ncurso.cs' 'Projeto/Negocios/ndiretoria.cs' 'Projeto/Negocios/naluno.cs' 'Projeto/Negocios/nprofessor.cs' 'Projeto/Negocios/nambiente.cs'; mono main.exe"